<!doctype html>
<head>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="referrer" content="no-referrer">
<title>上传</title>
<meta name="description" content="转换、上传页面">
<meta name="keywords" content="转换、上传">
<link rel="icon" sizes="any" mask="" href="../static/images/icon.png">
</head>

<body>
<center>
<div class="warning">
	{% for message in get_flashed_messages() %}
		<strong>Warning!</strong> {{ message }}
	{% endfor %}
</div>
<br><br><br>
<h1>上传文件</h1>
<br><br>
<form action="" method=post enctype=multipart/form-data>
	<input type=file name=file>
	<br><br>
	压缩模式
	<input type="radio" name="mode" value=0 checked>极致
	<input type="radio" name="mode" value=1 checked>普通
	<input type="radio" name="mode" value=2 checked>轻微
	<br><br>
	<input type=submit value=上传>
</form>

<h4>须知：</h4>
<table border="0">
<tr>
<td align="left" valign="middle" border="0">1、文件限制60MB以下</td>
</tr>
<tr>
<td align="left" valign="middle" border="0">2、基于python的flask库</td>
</tr>
</table>
<center>
<body>